name: build

on:
  push:
    branches:
    - main
    paths:
    - '**.py'
    - '**.toml'
    - requirements.txt
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  lint:
    name: Python Black
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Python Black
      uses: cytopia/docker-black@0.8
      with:
        path: src/

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - uses: actions/checkout@v3.0.2
      with:
        fetch-depth: 0
        set-safe-directory: true
    - name: Force directory safe
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade wheel setuptools setuptools_scm
        python3 -m pip install virtualenv
        python3 -m pip install build
    - name: Build package
      run: python3 -m build
    - name: Build bdist package
      run: python3 setup.py bdist_wheel
    - name: Install casa2data
      run: pip3 install dist/*.tar.gz
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: casa2data-artifacts
        path: dist/*
    - name: Run commands to test that everything is OK
      run: |
        pip3 freeze | grep "casa2data"
        python3 -c "import casa2data"
